@import './colors.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 16px;
  background-color: var(--orange);
  color: var(--darkBlue);
  height: 100vh;
}

#app {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 5vh 15vh 35vh 35vh;
}

.headline h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.holder {
  font-size: 1.5rem;
}

.entry {
  background-color: var(--green);
}

#entryHolder {
  padding: 1rem;
  margin: 1rem;
}

#date,
#temp,
#desc,
#content {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

#date {
  font-style: italic;
}

div span {
  font-weight: 100;
}

.title {
  margin: 1rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  padding: 1rem 0;
}

input,
textarea {
  display: block;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--blue);
  border: none;
}

textarea {
  height: 8rem;
}

button {
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  background-color: var(--darkBlue);
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  box-shadow: 2px 4px 5px #444;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: var(--darkBlue);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--darkBlue);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--darkBlue);
}